extends ../../views/layout

block content
  form(action="/sessions" method="post")
    input(type="hidden" name="fromAuth" value="1")
    .large-12.columns
      input(type="email" name="user[email]" placeholder="email")
    .large-12.columns
      input(type="password" name="user[password]" placeholder="password")
    .large-12.columns
      input(type="submit" value="ログイン")
