extends ../layout

block content
  form
    .large-12.columns
      input(type="title" name="todo[title]" placeholder="内容")
    .large-12.columns
      input(type="submit" value="登録")

  ul.todos
    each todo in todos
      li.todo(data-todo-id= todo.id)
        - var title = todo.title, done = todo.done
        include item

  script.
    todos = !{JSON.stringify(todos)}
  script(src="/application.js")