extends ../layout

block content
  form(action="/todos" method="post")
    .large-12.columns
      input(type="title" name="todo[title]" placeholder="内容")
    .large-12.columns
      input(type="submit" value="登録")

