header
  nav.top-bar(data-topbar)
    ul.title-area
      li.name
        h1: a(href="#") Todos
    section.top-bar-section
      ul.right
        li
          form(action="/sessions/#{user.id}" method="post")
            input(type="hidden" name="_method" value="delete")
            input(type="submit" value="ログアウト")
