!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/application.css")
  body
    if typeof user !== "undefined"
      include header
    block content