@import "../node_modules/foundation/scss/foundation.scss";

.todo {

  clear: both;
  list-style: none;

  .done {
    float: left;
  }

  .edit, .view {
    display: inline-block;
    width: 200px;
    float: left;
  }

  .destroy {
    text-decoration: none;
    float: right;
  }

  .destroy:hover {
    background: #fbfbfb;
  }

  .edit {
    display: none;
  }

  &.editable {
    .edit {
      display: inline;
    }
    .view {
      display: none;
    }
  }
}