extends ../layout

block content
  form(action="/sessions" method="post")
    .large-12.columns
      input(type="email" name="user[email]" placeholder="email")
    .large-12.columns
      input(type="password" name="user[password]" placeholder="password")
    .large-12.columns
      input(type="submit" value="ログイン")

  a.signup(href="/users/new") アカウント登録
