extends ../layout

block content
  form(action="/users" method="post")
    .large-12.columns
      input(type="email" name="user[email]" placeholder="email")
    .large-12.columns
      input(type="password" name="user[password]" placeholder="password")
    .large-12.columns
      input(type="password" name="user[confirm]" placeholder="confirm password")
    .large-12.columns
      input(type="submit" value="登録")

